.color-overlay {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 99;
    overflow: hidden !important;
    pointer-events: none !important;
}


.fixed .navbar {
    position: fixed;
    top: 60px;
}

.navbar {
    border: 0px;
    background-color: #222222;
    position: absolute;
    top: 100%;
    right: 5%;
    width: 110px;
    z-index: 999;
}


.overlay {
    background-color: #22A39F;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    z-index: 2;
}

.navbar .navbar-collapse {
    padding: 0px;
    max-height: none;
}

.navbar .nav > li {
    display: block;
    float: none;
    height: 80px;
}

.nav>li {
    position: relative;
    /* display: block; */
}