/* Styles for the front-page. Enqued seperately and only kicks in when on the front page. */

/* @import "tiles";  */
/*--------------------------------------------------------------
# fullPage
--------------------------------------------------------------*/
@import "../node_modules/fullpage.js/jquery.fullPage";

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Navbar
# Content Area
# fullPage
# Jumbotron
# Profile
# Skills
# Works
# Contact
# Text Animation



/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/

@media screen and (min-width: 50em) {
    .main-navigation {
        // position: fixed;
        // background-color: transparent;
    }
}
/*--------------------------------------------------------------
# Content Area
--------------------------------------------------------------*/

.content-area.lander-page {
    margin-left: 0;
    padding-left: 0; 
}

.site-main.lander-main {
    margin: 0;
    max-width: 100%;
}

.lander-page {
    .entry-content {
        position: relative;
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
}

.indent {
    margin: 0 2rem;
    max-width: 1120px;
}

.content-area {
    background: transparent;

    h4 {
        font-size: 1.5rem;
    }
}

 .lander-section {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    overflow: hidden;
    z-index: 2;
    background: #242424;
 }

.section-title {
    // color: $color_blue;
    margin: 0;
    // margin: 1rem -1rem;
    padding: 12px 0 0 0;
    border-bottom: 2px solid #F3EFE0;
    // background-color: rgba(0,0,0,0.35);
}

@media screen and (min-width: 760px) {
    .indent {
        margin: 0;
        padding: 0 4rem;
    }

    .section-title {
        // font-size: 3rem;
    }
}

@media screen and (min-width: 1100px) {
    .indent {        
        margin: 0 auto;
    }
}


/*--------------------------------------------------------------
# fullPage
--------------------------------------------------------------*/

.fp-tableCell {
    vertical-align: top;
}

@media screen and (min-width: 992px) {
   .fp-tableCell {
        vertical-align: middle;
        padding-bottom: 96px;
    } 
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: white;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}
      
#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    border: 2px solid #fff;
}

#fp-nav.right {
    right: 8px;
}

/*--------------------------------------------------------------
# Profile
--------------------------------------------------------------*/				

#profile {
    /* color: black;
    color:  hsl(0, 0%, 0%);
    background: #F2F2F2;
    background: hsl(0, 0%, 95%); */
    // font-size: 1rem; 

    .entry-content {
        display: flex;
        flex-flow: row wrap;

        .about-col {
            order: 1;
            padding: 0 20px;
            flex: 1 1 200px;
            // flex-basis: 45%;

        }
        .profile-thumb {
            order: 2;
            flex: 1 1 220px;
            padding: 0 20px;
            align-self: center;

        }
        .details-col {
            order: 3;
            flex: 1 0 200px;
            // flex-basis: 25%;
            padding: 0 20px;

        }
    }
}

.profile-col {
    flex: 1;
    padding: 0 20px;

}

.profile-thumb {

    text-align: center;

    img {
        // width: 100%;
        border-radius: 1000px;
        border: 8px solid #F3EFE0;
    }
}

/* @media screen and (min-width: 760px) {
    #profile .entry-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .details-col {
            text-align: left;
        }
        .profile-thumb {
            align-self: center;
        }
    }
} */




/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/

#skills {
    // background-color: #F3EFE0;
    // background-color: hsl(0, 0%, 90%);

    ul {
        list-style: none;
        padding-left: 0;
        margin-left: 0;

        li {
            display: inline-block;
            // font-family: sans-serif;            
        }
    }

    .using {
        float: left;
    }

    .learning {
        float: right;
    }

    .codepen-link {
        clear: both;
        text-align: center;
    }
}

/*--------------------------------------------------------------
# Works
--------------------------------------------------------------*/
#works {

    .slider-header {
        position: static;
        // top: 0;
        width: 100%;
    }

    .project.row {
        margin-bottom: 30px;
        // border-bottom: 3px dotted $color_blue;
        padding: 1rem 0 .5rem;
        // margin: 1em 0;
    }

    figure.work-thumb {
        text-align: center;

        img {
            width: 90%;
            max-width: 100%;
        }
    }

    .project.row:last-child {
        border-bottom: none;
    }

    .works-title {
        margin-top: 0.5rem;
        color: #cfa144;
        // color: $color_blue;
        font-weight: 300;
    }

    .work-content p {
        padding: 5px 0 20px;
        font-size: 1.125em;
        color: $color__text-main;
    }

    .work-content a {
        border: 3px solid #46B6FF;
        padding: 7px 9px;
        border-radius: 6px;
        color: #46B6FF;
    }
}


.cards {
    display: block;
}

.card {
    background-color: #F3EFE0;
    margin-bottom: 1.5em;

    a {
        text-decoration: none;
        color: black;
        // background-color: white;
    }

    a:hover,
    a:focus {
        box-shadow: 3px 3px 8px #000;
        // box-shadow: 3px 3px 8px hsl(0, 0%, 95%);
    }
}

.card-content {
    padding: 1.4em;

    h2 {
        margin-top: 0;
        margin-bottom: .5em;
        font-weight: normal;
        font-size: 2em;
    }

    p {
        font-size: 95%;
    }
}

@media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card {
        display: flex;   
        flex: 0 1 calc(50% - 1em);
        margin-bottom: 2em;
    }
}

#works .my-project {
    padding: 0;
}

#works2 {
    display: none;
}
#test {
    display: none;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

#contact {

    .wpcf7 {
        text-transform: uppercase;
        background-color: transparent;
        margin-top: 1rem;

        h2, h4, p {
            color: #FCFCFC;
            color: hsl(0, 0%, 95%);
        } 

        input {
            color: #f1f1f1;
            outline: 1px solid #242424;
            background: #272727;
        }

        input[type="text"],
        input[type="email"] {
            height: 2.6rem;
            font-size: 1em;
        }

        input[type="text"],
        input[type="email"],
        textarea
        {
            // height: 2.5rem;
            // color: #fff;         
            padding-left: 2%;
            padding-right: 2%; 
            outline: 1px solid #242424;
            background: #272727;   
        } 
        
        textarea {
            // height: 10rem;
        }
    }

    .item {
        position: relative;
        margin: 0 auto;
        width: 100%;
        display: block;
        padding-bottom: 120px;
        }

    label {
        display: block;
        font-family: 'Lato',sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 12px;
        padding-bottom: 10px;
    }

    input#send,
    .widget_meta abbr,
    input#submit {
        color: #cfa144;
    }

    input#send {
        background: #272727;
    }

    .button, button, input[type="submit"], input[type="reset"], input[type="button"] {
        background: #272727;
        margin-top: 10px;
        border: none;
        color: #cfa144;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        line-height: normal;
        padding: 15px 25px;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
        width: 100%;
        outline: 1px solid #242424;
    }
    .button, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover,
    .button, button, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
        background: #313131;
    }

}

@media screen and (min-width: 45em) {
    
    #contact {

        .wpcf7 {

            margin-top: 3rem;

            input[type="text"],
            input[type="email"] {
                // height: 1.2em;
                /* padding-top: .6rem;
                padding-bottom: .6rem; */
                // font-size: 1em;
            }
            textarea {
                // height: 14rem;
                // font-size: 1em;
            }
        }
    }
}

/*--------------------------------------------------------------
# Typed.js
--------------------------------------------------------------*/

.jumbotron {

}
