/*Styles for the front page*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

@import "normalize"; 

/*--------------------------------------------------------------
# Content Area
--------------------------------------------------------------*/

.content-area {
	background: #c3c3c3;
	/* background: hsl(0, 0%, 100%); */
}

/*--------------------------------------------------------------
# Jumbotron
--------------------------------------------------------------*/

#jumbotron {
    background: #fff;
    background: hsl(0, 0%, 100%);
}

/*--------------------------------------------------------------
# Profile
--------------------------------------------------------------*/				

#profile {
    color: #fff;
    color: hsl(0, 0%, 100%);
    background: black;
	/* background: hsl(0, 100%, 0%); */
    padding: 4rem 0;
}

/*--------------------------------------------------------------
# Competencies
--------------------------------------------------------------*/

#competencies {
    padding: 4rem 0;
    background: hsl(0, 0%, 90%);
}

/*--------------------------------------------------------------
# Works
--------------------------------------------------------------*/

#works {
    padding: 4rem 0;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

#contact {
    padding-top: 4rem;
    padding-bottom: 6rem;
	color: #fff;
    color: hsl(0, 0%, 100%);
	background-color: black;
    /* background: hsl(204, 100%, 24%); */
}
 
#contact {
    padding: 4rem 0;
}
