.content-area {
	overflow-x: hidden; 
}

.site-main {
	margin: 1.4em;
	@include font-size(1);
	line-height: 1.75em;
}
.section-title {
	@include font-size(2.5);
	font-weight: bold;
}


.container-small {
	widows: 90%;
}

@media screen and (min-width: 30em) {
	.site-main {
		@include font-size(1);
		margin: 1.8em;
	}
	.section-title {
		@include font-size(2.8);
	}
	.container-small {
		widows: 85%;
	}
}

@media screen and (min-width: 40em) {
	.site-main {
		@include font-size(1.1);
	}
	.section-title {
		@include font-size(3.5);
	}
	.container-small {
		widows: 80%;
	}
}

@media screen and (min-width: 57em) {
	.site-main {
		@include font-size(1.2);
		max-width: 45em;
		margin: 1.8em auto;
	}
	.section-title {
		@include font-size(4);
	}
	.container-small {
		widows: 1040px;
	}
}

.page-title {
	text-align: center;
	font-style: italic;
	@include font-size-em(1.8);
}

.page-header::after {
	display: block;
	content: "";
	width: 3.5em;
	border-bottom: 1px solid #c3c3c3;
	margin: 2em auto;
}

.taxonomy-description {
    margin-top: 1.5em;
    border: 1px solid #c3c3c3;
    padding: .5em 1.8em 0;
    text-align: center;
    font-style: italic;
}

.container-small {
	widows: 90%;
}