ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

.tech,
.tools,
.skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: .4em;
    
    // Applies to the list of tools / tech used, found on each 'Works' page.
	li {
		padding: 2px 5px;
	    background-color: rgba(255, 255, 255, 0.3);
	    color: #1c1c1c;
	    display: inline-block;
	    margin-right: 4px;
	    margin-bottom: 11px;
	    font-family: "futura-pt", futura, helvetica, arial, sans-serif;
	    font-size: .9rem;
	    text-transform: none;
	    line-height: 1em;
	}
}

.skills {
	flex-flow: row wrap;
	align-items: center; 
}

@media screen and (max-width: 650px) {
	.tech,
	.tools,
	.skills {
		li { 
		    margin-bottom: 5px;
			margin-right: 6px;
			line-height: 1;
			font-family: arial narrow, futura, helvetica, arial, sans-serif;
			font-size: .9rem;
		}
	}	
} 
 