$color__background-body: #242424;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: transparent;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color_background-black: #000;
$color_background-white: #fff;

$color__text-screen: #21759b;
$color__text-input: #FCFCFC;
$color__text-input-focus: #FCFCFC;
$color__link: #fff;
$color__link-visited: #fff;
$color__link-hover: #fff;
$color__text-main: #fff;

$color_text-back: #000;
$color_text-white: #fff;

/* $color__border-button: #ccc #ccc #bbb; */
$color__border-button: #ccc;
/* $color__border-button-hover: #fff #bbb #aaa; */
$color__border-button-hover: #fff;
$color__border-button-focus: #fff #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


// My colors according to section

$color_headings: #fff;
$color_section_title: #22A39F;

$color_nav_white: #fff;
$color_nav_black: #000;

// Color variables by color

$color_golden: #cfa144;
$color_blue: #4472cf;
$black: #000;
$white: #fff;