$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #fff;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color_background-black: #000;
$color_background-white: #fff;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #000;
$color__link-visited: #000;
$color__link-hover: #000;
$color__text-main: #000;

$color_text-back: #000;
$color_text-white: #fff;

/* $color__border-button: #ccc #ccc #bbb; */
$color__border-button: #000;
/* $color__border-button-hover: #ccc #bbb #aaa; */
$color__border-button-hover: #000;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


// My colors according to section

$color_headings: #22a38a;

$color_nav_white: #fff;
$color_nav_black: #000;

// Color variables by color

$black: #000;
$white: #fff;