
/* Most menu styles below are taken from the Twenty Fifteen theme */

.main-navigation {
	/* clear: both;
	display: block; */
	font-family: $font__headings;
	@include font-size-em(1);
	// float: left;
	// width: 100%;
	font-weight: 300;
	z-index: 99;

	ul {
		/* display: none;		
		list-style: none; */
		margin: 0;
		padding-left: 0;

		li {
			/* position: relative;
		    flex: 1 0 85px;
		    display: flex;
		    justify-content: center;
		    align-items: center; */

			&:hover > a,
			&.focus > a {
				/* color: #208683;
				font-weight: bold; */
			}
		}

		li:last-child a {
			border-bottom: none;
		}

		li:hover > ul,
		li.focus > ul {
			
		}

		ul {
			/* display: none;
			margin-left: 0.8em; */

			ul {
				
			}

			li {				
				
			}

			a {
				
			}

			:hover > a,
			.focus > a {

			}

			a:hover,
			a.focus {

			}
		}

		
	}



	a {
		// display: block;
	    // padding: 1.2em 1em;
	    // position: relative;
	    font-weight: 400;
	    text-decoration: none;
	    line-height: 1.6em;
	    // flex: 1 0 100%;    
	    // text-align: center;
		color: $color_nav_white;
	}

	a:hover,
	a:focus {
		color: teal;
    	font-weight: bold;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		font-weight: 700;
	}
}

.main-navigation ul .toggled-on {
	// display: block;
}



.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a {
	font-weight: 700;
	/* background: #fff; */
    color: teal;
    font-weight: bold;
}

.main-navigation .nav-menu > ul > li:first-child,
.main-navigation .nav-menu > li:first-child {
	border-top: 0;
}

.main-navigation .menu-item-has-children > a,
.main-navigation .page_item_has_children > a {
	// padding-right: 48px;
}

.main-navigation .menu-item-description {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	font-family: "Noto Sans", sans-serif;
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.5;
	// margin-top: 0.5em;
}

.no-js .main-navigation ul ul {
	display: block;
}

.dropdown-toggle {
	position: absolute;
	height: 27px;
	width: 27px;
	top: 12px;
	right: 6px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 0;
	font-family: 'FontAwesome';
	background-color: #000;
	border: 1px solid #fff;
	content: "";
	color: #fff;
	text-transform: lowercase; /* Stop screen readers from reading the text as capital letters */
}

/* .dropdown-toggle:after {
	color: #333;
	content: "\f431";
	font-size: 24px;
	line-height: 42px;
	position: relative;
	top: 0;
	left: 1px;
	width: 42px;
} */

.dropdown-toggle:after {
	content: "\f078";
	font-size: 14px;
	line-height: 27px;
	position: relative;
	top: 0;
	left: 1px;
	width: 27px;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
	/* background-color: #eaeaea;
	background-color: rgba(51, 51, 51, 0.1); */
	background-color: #fff;
	background-color: rgba(255, 255, 255, 1.0);
	color: #000;


}

.dropdown-toggle:focus {
	outline: 1px solid #c1c1c1;
	outline: 1px solid rgba(51, 51, 51, 0.3);
}

.dropdown-toggle.toggle-on:after {
	content: "\f077";
}

/* End Twenty Fifteen menu styles */


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	// display: block;
}

.menu-toggle {
	/* width: 88px;
	position: fixed;
	z-index: 1000;
	left: 1em;
	bottom: 1em;
	@include font-size-em(1);
	text-transform: uppercase;
	background-color: $black;
	color: $white;
	border: solid 2px $white;
	transition: all ease-out 400ms; */
}

.menu-toggle.hide {
	// bottom: -2.0em;
}

/* Make sure the button doesn't hide when menu is open. */

.toggled .menu-toggle.hide {
	// bottom: 1em;
}

.menu-toggle:hover,
.menu-toggle:focus {
	text-decoration: none;
}

@media screen and (min-width: 50em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
		// min-height: 4em;
	}
}

/* Hovering menu */


.main-navigation.toggled {
	// position: fixed;
	// bottom: 0;
	// padding: 1em;
	// z-index: 1;
}

.nav-menu {
	/* padding: 1em; */
    // margin-bottom: 4em;
    // background-color: #000;
    // border: 1px solid #208683;
    // display: flex;
    // flex-flow: row wrap;
    // align-items: center;
    /* justify-content: center; */
    // max-width: 88px;
}

.main-navigation.toggled ul {
	// max-height: calc(100vh - 8em); 
	overflow-y: auto; // allows you to scroll within this container in the browser
	// margin-bottom: 4em;
	// width: 88px;
}

.main-navigation.toggled .nav-menu ul {
	// margin-bottom: 0;
}

.main-navigation.toggled ul ul {
	// display: none;
}


.main-navigation.toggled ul ul.toggled-on,
.main-navigation.toggled ul ul.toggled-on > ul {
	// display: block;
}


/* Horizontal menu on wide screens */
@media screen and (min-width: 50em) {
	
	/* Position the menu in the header */
	.main-navigation,
	.main-navigation.toggled {
		// position: relative;
		// min-height: 3.5em;
		// margin: 0 auto;
		// padding: 0 3.5em;
		// background-color: #000;
		// background-color: hsla(0, 0%, 0%, .7);
		// position: fixed;
		// margin-right: 3.5em;
	    // right: 0;
	    // top: 40%;
    /* background-color: transparent; */
	}
	
	.nav-menu {
		padding: 0;
		background-color: #000;
		background-color: hsla(0, 0%, 0%, .8);
	}
	
	.main-navigation ul,
	.main-navigation.toggled ul {
		// max-height: none;
		// padding-left: 0;
		// text-align: center;
	}
	
	.main-navigation.toggled ul {
		// overflow-y: visible;
	}
	
	/* Display the menu items in a horizontal order */
	.main-navigation li {
		// display: inline-block;
		border: none;
	}
	
	/* Add an outline to the drop-down menus */
	.main-navigation ul ul {
		// outline: 1px solid #333;
	}
	
	/* Left-align drop-down menu items */
	.main-navigation li li {
		// display: block;
		// text-align: left;
	}
	
	.main-navigation a,
	.main-navigation ul ul li:last-child a {
		border-bottom: none;
	}
	
	/* Add an outline on hovered and focused menu items */
	.main-navigation a:focus {
		background: transparent;
		color: #fff;
		text-decoration: underline;
		outline: solid 1px #b3b3b3;
	}

	.main-navigation a:hover {
		background: transparent;
		color: #fff;
		text-decoration: none;
		outline: none;
	}
	
	/* Create hover and focus contrast on drop-down items */
	.main-navigation li li a:hover,
	.main-navigation li li a:focus {
		background: #eee;
		color: #000;
		text-decoration: none;
	}
	
	/* Position drop-down menus absolutely */
	.main-navigation ul ul.toggled-on {
		position: absolute;
		width: 12em;
		display: block;
		z-index: 10;
		margin-left: 0;
		background: #000;
	}
	
	.main-navigation ul ul ul.toggled-on {
		position: relative;
	}
	
	/* Indent 3rd level drop-down menus */
	.main-navigation ul ul ul a {
		padding-left: 2em;
	}
	
	/* Simplify the drop-down toggle */
	.dropdown-toggle {
		// top: 11px;
		// right: 12px;
		// border: none;
	}
	
	.dropdown-toggle::after {
		// line-height: 27px;
		// width: 27px;
	}
	
}



.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}


/* Base styles that apply to all menus */
.main-navigation {
	/* position: fixed;
	text-align: center;
	top: 0;
	width: 100%; */

	ul {
		// display: flex;
		// justify-content: space-around;
		list-style-type: none;
		padding: 0;
		margin: 0;
		background: rgba(36, 36, 36, 0.6);

		li {
			// flex: 1 0 auto;
			padding: 4px;

			a {
				display: block;
			    text-decoration: none;
			    color: white;
			    padding: 6px;
			    border-radius: 4px;
			    // background-color: hsl(0, 0%, 24%);

			}
			a:hover {
				// background: hsl(0, 0%, 25%);
			}
		}
	}
}
@media screen and (min-width: 50em) {
	.main-navigation {
		
		/* position: fixed;
		width: 90px;
		top: 40%;
		right: 5%; */
		

		ul {
			    position: absolute;
			    top: 1em;
			    right: 1em;
			    z-index: 70;
			    padding: 0;
			    margin: 0;
			    background:	transparent;
			/* display: block;
			position: fixed;
		    width: 105px;
		    top: 36%;
		    right: 4%; */
		    // border: 2px solid teal;
		    border-radius: 4px;

		    li {
		    	display: inline-block;
			    margin-left: 1rem;
			    color: #000;
			    background: gray;
			    background: rgba(255,255,255, 0.5);
			    border-radius: 10px;
			    padding: 0;


			    a {
			    	font-family: monospace, serif;
			    	padding: 7px 14px;
    				display: block;
    				text-decoration: none;
    				color: #fff;
			    }
		    }
		}
	}
	
}





/* ul.nav-menu li a {
	display: block;
    text-decoration: none;
    color: white;
    padding: .7em 0;
}

ul.nav-menu li a:hover {
	background: hsl(0, 0%, 25%);
} */