/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.site-header {
	background-color: #ccc;
	background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    z-index: 0;
}

.dimmed {
  position: relative;
}

.dimmed:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.site-logo {
	position: relative;
	z-index: 15;

	a {
		position: absolute;
		z-index: 10;
		top: 1em;
		left: 1em;
		display: block;
		width: 2em;
		height: 2em;
		background: black;
		border: 2px solid white;
		color: white;
		text-decoration: none;
	}

	a:hover,
	a:focus {
		outline: 2px solid white;
	}
}

.site-firstletter {
	font-family: $font__headings;
	@include font-size(1.5); 
	font-weight: 700;
	text-align: center;
	line-height: 1.3em;
}

.site-logo a:hover .site-firstletter,
.site-logo a:focus .site-firstletter {
	background: white;
	color: black;
}

.site-branding {
	text-align: center;
    margin: 0 auto;
    // padding: 220px 0 140px;
    // width: 100%;
    // flex: 1 0 auto;
    max-width: 954px;
    align-self: center;
    z-index: 15;
}

.site-title {
	margin: 1rem 0;
	font-family: $font__headings;
	@include font-size(2.8);
	font-weight: bold;
	line-height: 1.3em;
	color: #fff;
	text-transform: uppercase;
	word-break: break-word;
	width: 100%;
}

@media screen and (max-width: 30em) {
	.site-title {
		@include font-size(1.8);
	}
}

.site-title a {
	text-decoration: none;
	color: inherit;
}

.site-title a:hover,
.site-title a:focus {
	text-decoration: underline;
}

.site-title::after {
	display: block;
	content: "";
	margin: .6em auto 0;
	width: 3em;
	border-bottom: solid 1px #fff;
	opacity: .5;
}

.site-description {
	margin: .8rem 0;
	@include font-size(1.1);
	color: #fff;
} 